*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}
header{
    background: url(image/wine-jpeg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.navbar{
    width: 100%;
    padding: 40px 0 20px;
}

.menu{
    display: flex;
    list-style: none;
    
}

.menu li {
    margin: 0 40px;
    
}

.menu li a{
    color: #fff;
    text-decoration: none;
    font-size: 25px;
}

#formulaire{
    position: absolute;
    top: 50%;
}

.form{
    display: flex;
    align-items: center;
}

#formulaire input[type=text]{
    width: 500px;
    height: 50px;
    outline: none;
    border: 0;
    padding-left: 15px;
}

.imag{
    background-color: gold;
    padding: 13px;
    cursor: pointer;
}

/* section1 */

section{
    padding: 70px;
}

.card-group{
    display: flex;
    margin-bottom: 20px;
}

.pagination{
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;

}

.number{
    padding: 10px;
    border: 1px solid #333;
    margin: 0 10px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}


/* page cuisine */


.body-cuisine{
    background: url(image/table.jpeg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.title{
    font-size: 50px;
    text-transform:uppercase;
    margin-top: 60px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

#form{
    text-align: center;
}

#Search-input{
    width: 400px;
    height: 40px;
    outline: none;
    border: 0;
    padding-left: 15px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

#randomMeal{
    width: 300px;
    height: 40px;
    outline: none;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    background-color: #da9f68;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    color: #fff;
    margin-left: 20px;
}

.resultats{
    position: absolute;
    left: 32%;
    top: 25%;
    font-size: 20px;
}


/*  animation */



 /* div {
	width: 3vw;
	height: 3vw;
	border-radius: 100%;
	margin: 2vw;
	background-image: linear-gradient(145deg, rgba(255,255,255,0.5) 0%, rgba(0,0,0,0) 100%);
	animation: bounce 1.5s 0.5s linear infinite;
} */
.yellow {
	background-color: var(--yellow);
}

.red {
	background-color: var(--red);
	animation-delay: 0.1s;
}

.blue {
	background-color: var(--blue);
	animation-delay: 0.2s;
}

.violet {
	background-color: var(--violet);
	animation-delay: 0.3s;
}

@keyframes bounce {
	0%, 50%, 100% {
		transform: scale(1);
		filter: blur(0px);
	}
	25% {
		transform: scale(0.6);
		filter: blur(3px);
	}
	75% {
		filter: blur(3px);
		transform: scale(1.4);
	}
}



